:root{
    --main-color: #d3ad7f;
    --black-color: #13131a;
    --background-navbar: rgba(1, 1, 3, 0.6);
    --background-color: #010103;
    --border-color: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
    font-family: "Roboto", sans-serif;
}

* {
    margin:0;
    padding:0;
    outline:none;
    border:none;
    text-decoration:none;
    text-transform:capitalize;
    transition: 0.2s linear;
}


.logo img:hover {
    position: relative;
    bottom: 1px;
    opacity: 0.9;
}

body {
    background: var(--background-color);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position:fixed;
    top:0; left:0; right:0;
    z-index: 99;
    border-bottom: var(--border-color);
}

.header section {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    color:#fff;
    font-size: 1.8rem;
    margin: 0 1rem;
}

.navbar a:hover {
    
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 1.9rem;
}

.icons img {
    margin-top: 2rem;
    margin-left: 2rem;
    cursor: pointer;
}

.icons img:hover {
    margin-left: 1rem;
    margin-top: 1rem;
    width: 4rem; height: 4rem;
}

.btn {
    text-transform: uppercase;
    background-color: var(--main-color);
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    margin-top: 1rem;
    cursor: pointer;
    display: inline-block;
}

.btn:hover {
    filter: brightness(120%);
}

.home-container {
    background: url("imagens/home.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover; 
}

.home-container section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

.content {
    max-width: 60rem;
}

.content h3 {
    color:#fff; 
    font-size: 6rem;
}

.content p {
    text-transform: none;
    color:#fff;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;
}