/* DECLARAÇÃO DE VARIÁVEIS GLOBAIS */   
:root{
    --main-color: #d3ad7f;
    --black-color: #13131a;
    --background-navbar: rgba(1, 1, 3, 0.6);
    --background-color: #010103;
    --border-color: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
    font-family: "Roboto", sans-serif;
}

/* LIMPAR FORMATAÇÃO PADRÃO */
* {
    margin:0;
    padding:0;
    outline:none;
    border:none;
    text-decoration:none;
    text-transform:capitalize;
    transition: 0.2s linear;
}

/* CONFIGURAÇÕES DO HEADER */

body {
    background: var(--background-color);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position:fixed;
    top:0; left:0; right:0;
    z-index: 99;
    border-bottom: var(--border-color);
}

.header section {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    
}

.logo img:hover {
    position: relative;
    bottom: 1px;                                
    opacity: 0.9;
}

.navbar {
    display: flex;
    width: 40rem;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
}

.navbar a {
    color:#fff;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: var(--main-color);
    font-size: 1.9rem;
}

.icons {
    display: flex;
    width: 8.5rem;
    height: 4.5rem;
    align-items: center;
    justify-content: space-evenly;
}

.icons img:hover {
    width: 33px;
    height: 33px;
}

/* CONFIGURAÇÕES DA HOME */
.btn {
    text-transform: uppercase;
    background-color: var(--main-color);
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    margin-top: 1rem;
    cursor: pointer;
    display: inline-block;
}

.btn:hover {
    filter: brightness(120%);
}

.home-container {
    background: url("imagens/home.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover; 
}

.home-container section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

.content {
    max-width: 60rem;
}

.content h3 {
    color:#fff; 
    font-size: 6rem;
}

.content p {
    text-transform: none;
    color:#fff;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;
}

/* CONFIGURAÇÕES DA SEÇÃO SOBRE NÓS */
.about section {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin: 5rem 20rem;
        color:#fff
}

.about section img, .about-content {
    flex: 0.4;
}

.about section img {
    border-radius: 10px;
}

.about-content h3 {
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 3rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.about-content p {
    font-size: 1.5rem;
    padding-top: 0.5rem;
    padding-left: 1.5rem;
}  

.about h2 {
    margin-top: 5rem;
    text-align: center;
    color: #fff;
    font-size: 4rem;
}

.saiba-mais-btn a:hover {
    cursor: pointer;
    filter: brightness(120%);
}

/* CONFIGURAÇÕES DA SEÇÃO MENU */

.menu {
    margin: 5rem 20rem;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    color: #fff;
    gap: 4rem;
}

.menu div {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 30rem;
    width: 30rem;
}

.menu div:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu div img {
    margin-bottom: 2rem;
    border-radius: 100%;
    height: 10rem;
    width: 10rem;
}

.menu div h6 {
    font-size: 1.8rem;
}

.menu div h5 {
    font-size: 1.4rem;
    color: green;
}

.menu div p { 
    font-size: 1rem;
    text-decoration: line-through;
    color: red;
}

.menu div a { 
    background-color: var(--main-color);
    padding: 0.5rem 2rem;
    font-size: 1.7rem;
    color: #fff;
    margin-bottom: 1.5rem;
}   

.menu-container {
    margin-top: 6rem;
    text-align: center;
    color: #fff;
    font-size: 3rem;
}