/* DECLARAÇÃO DE VARIÁVEIS GLOBAIS */   
:root{
    --main-color: #d3ad7f;
    --background-navbar: rgba(1, 1, 3, 0.6);
    --background-color: #010103;
    --border-color: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
    font-family: "Roboto", sans-serif;
}

/* LIMPAR FORMATAÇÃO PADRÃO */
* {
    margin:0;
    padding:0;
    outline:none;
    border:none;
    text-decoration:none;
    transition: 0.2s linear;
    color:#fff;
}

/* CONFIGURAÇÕES DO HEADER */

body {
    background: var(--background-color);
}

.header {
    position:fixed;
    top:0; left:0; right:0;
    z-index: 99;
    border-bottom: var(--border-color);
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.logo img:hover {                           
    opacity: 0.9;
}

.navbar {
    display: flex;
    width: 40rem;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    font-size: 1.9rem;
}

.icons {
    display: flex;
    width: 8.5rem;
    height: 4.5rem;
    align-items: center;
    justify-content: space-between;
}

.icons img:hover {
    width: 33px;
    height: 33px;
}

/* CONFIGURAÇÕES DA HOME */
.home-container {
    background-image: url("imagens/home.jpg");
    height: 100vh;
    min-height: 100vh;
    background-position: center;
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home-content {
    max-width: 60rem;
    margin-left: 10rem;
}

.home-content h3 {
    font-size: 6rem;
}

.home-content p {
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;
}

.btn {
    text-transform: uppercase;
    background-color: var(--main-color);
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(120%);
}

/* CONFIGURAÇÕES DA SEÇÃO SOBRE NÓS */
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70vh;
    font-size: 3rem;
}

.about-content {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 6rem;
        width: 120rem;
        padding: 5rem 0;
}

.about-content img {
    height: 30rem;
    width: 30rem;
    border-radius: 100%;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40rem;
    gap: 3rem;
}

.about-text h3 {
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 3rem;
}

.about-text p {
    font-size: 1.5rem;
}  

.btn {
    width: 10rem;
}

.btn:hover {
    cursor: pointer;
    filter: brightness(120%);
}

/* CONFIGURAÇÕES DA SEÇÃO MENU */

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70vh;
    font-size: 3rem;
}

.menu {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 30rem);
    grid-template-rows: repeat(2, 35rem);
    gap: 2rem;

}

.menu li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    justify-items: center;
    align-items: center;
}

.menu li img {
    margin-top: 2rem;
    border-radius: 100%;
    height: 10rem;
    width: 10rem;
    grid-column: 1/3;
    align-content: flex-end;
}

.menu li h6 {
    font-size: 1.8rem;
    grid-column: 1/3;
    align-content: flex-start;
}

.menu li h5 {
    font-size: 1.4rem;
    color: green;
    justify-self: flex-end;
}

.menu li p { 
    font-size: 1rem;
    text-decoration: line-through;
    color: red;
    justify-self: flex-start;
    
}

.menu li a { 
    background-color: var(--main-color);
    padding: 0.5rem 2rem;
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
    grid-column: 1/3;
}   

/* CONFIGURAÇÕES DA SEÇÃO NOSSOS CLIENTES */
.clientes {
    margin-top: 6rem;
    text-align: center;
    color: #fff;
    font-size: 3rem;
}

.clientes-content {
    margin: 5rem 20rem;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    color: #fff;
    gap: 4rem;
}

.clientes-content div {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 40rem;
    width: 30rem;
    position: relative;
}

.clientes-content div p {
    font-size: 1.5rem !important;
    margin-top: 8rem !important;
    margin: 0 1rem;
}

.clientes-content div .foto {
    border-radius: 100% !important;
    margin-top: 2rem;
}

.clientes-content div h1 {
    position: absolute;
    font-family: "Fleur De Leah", cursive;
    font-size: 10rem !important; 
    margin-right: 2rem;
}

.clientes-content div img {
    margin-top: 0.5rem;
}

.clientes-content div h6 {
    margin-top: 1.5rem;
}

/*ENDEREÇO*/
.address-container {
    text-align: center;
    color: #fff;
    font-size: 3rem;
}

.address {
    margin-top: 2rem;
}

.icons-contact {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.icons-contact:hover {
    cursor: pointer;

}